* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a i {
  color: white;
  font-size: 3em;
  padding: 0.5em;
}

header nav ul {
  display: flex;
  gap: 1.1em;
}

header nav ul li a {
  color: white;
}

.section-1 {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.section-2 img {
  display: block;
  width: 100%;
}

footer {
  background-color: #22211f;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer h1 {
  color: #b59a61;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer ul li a {
  color: #eeeeee;
  padding: 1em;
}

.heart{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
